<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ... (CSS styles) ... -->
</head>

<body>
  <div id="main-content">
    <div id="filters">
      <h1>Apartment Listing</h1>

      <div class="filter-section" id="districtFilter">
        <div class="filter-title">Выберите округа:</div>
        <div class="filter-options" id="districtOptions"></div>
      </div>

      <div class="filter-section" id="areaFilter">
        <div class="filter-title">Выберите районы:</div>
        <div class="filter-options" id="areaOptions"></div>
      </div>

      <div class="filter-section" id="houseAddressFilter">
        <div class="filter-title">Выберите адреса:</div>
        <div class="filter-options" id="houseAddressOptions"></div>
      </div>
    </div>

    <div class="resizer"></div>

    <div id="resultsTableContainer">
      <h2>Результаты:</h2>

      <div class="table-scroll">
        <table id="resultsTable">

          <thead>
            <tr>
              <th style="width: 50px;">№</th>
              <th style="width: 150px;">Округ</th>
              <th style="width: 200px;">Район</th>
              <th>Адрес</th>
            </tr>
          </thead>

          <tbody>
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div id="detailsPanel">
    <span id="closeDetailsPanel">×</span>
    <div id="detailsContent"></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let currentPage = 1;
      const rowsPerPage = 100;
      let isLoading = false;
      let showTable = false;


      let selectedDistricts = JSON.parse(localStorage.getItem('selectedDistricts') || "[]");
      let selectedAreas = JSON.parse(localStorage.getItem('selectedAreas') || "[]");
      let selectedAddresses = JSON.parse(localStorage.getItem('selectedAddresses') || []);

      const districtOptions = document.getElementById('districtOptions');
      const areaOptions = document.getElementById('areaOptions');
      const houseAddressOptions = document.getElementById('houseAddressOptions');
      const resultsTableContainer = document.getElementById('resultsTableContainer');
      const resultsTable = document.getElementById('resultsTable').querySelector('tbody');
      const detailsPanel = document.getElementById('detailsPanel');
      const detailsContent = document.getElementById('detailsContent');
      const closeDetailsPanel = document.getElementById('closeDetailsPanel');
      const filters = document.getElementById('filters');
      const resizer = document.querySelector('.resizer');
      const mainContent = document.getElementById('main-content');
      let isResizing = false;

      resizer.addEventListener('mousedown', (e) => {
        isResizing = true;
      });

      document.addEventListener('mousemove', (e) => {
        if (isResizing) {
          const containerWidth = mainContent.offsetWidth;
          const mouseX = e.clientX - mainContent.getBoundingClientRect().left;

          const newFiltersWidth = (mouseX / containerWidth) * 100;
          filters.style.width = `${newFiltersWidth}%`;
        }
      });

      document.addEventListener('mouseup', () => {
        isResizing = false;
      });

      // загрузка json с url и с query строкой из params
      async function fetchOptions(url, params = {}) {
        console.log(`fetchOptions run, params =`, params)
        const queryString = new URLSearchParams();
        for (const key in params) {
          if (Array.isArray(params[key])) {
            params[key].forEach(value => queryString.append(key, value));
          } else {
            queryString.append(key, params[key]);
          }
        }
        const response = await fetch(`${url}?${queryString.toString()}`);
        return await response.json();
      }

      function createCheckbox(label, value, onChange) {
        const container = document.createElement('div');
        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.value = value;
        checkbox.addEventListener('change', onChange);

        const labelElement = document.createElement('label');
        labelElement.textContent = label;

        container.appendChild(checkbox);
        container.appendChild(labelElement);
        return container;
      }

      // функция для добавления чекбоксов в элемент с filterId
      function populateFilter(filterId, options, onChange) {
        const filterDiv = document.getElementById(filterId);
        filterDiv.innerHTML = '';
        options.forEach(option => {
          const checkbox = createCheckbox(option, option, onChange);
          filterDiv.appendChild(checkbox);
        });
      }

      // загрузка данных по квартире и вывод их
      async function showDetails(apartmentId) {
        const data = await fetchOptions(`/tables/results/${apartmentId}`);
        console.log(`showDetail data =`, data);
        detailsContent.innerHTML = `
                <h2>Детали квартиры:</h2>
                <p>ID: ${data.id}</p>
                <p>Ранг: ${data.rank}</p>
                <p>ID истории: ${data.history_id}</p>
                <p>Округ: ${data.district}</p>
                <p>Район: ${data.area}</p>
                <p>Адрес: ${data.house_address}</p>
                <!-- Добавьте другие поля по мере необходимости -->
            `;
        detailsPanel.classList.add('show');
      }

      closeDetailsPanel.addEventListener('click', () => {
        detailsPanel.classList.remove('show');
      });

      // получение selectedDistricts, selectedAreas, selectedAddresses из чекбоксов в localStorage
      function updateResults() {
        const selectedDistricts = Array.from(document.querySelectorAll('#districtOptions input:checked'))
          .map(checkbox => checkbox.value);
        const selectedAreas = Array.from(document.querySelectorAll('#areaOptions input:checked'))
          .map(checkbox => checkbox.value);
        const selectedAddresses = Array.from(document.querySelectorAll('#houseAddressOptions input:checked'))
          .map(checkbox => checkbox.value);

        localStorage.setItem('selectedDistricts', JSON.stringify(selectedDistricts));
        localStorage.setItem('selectedAreas', JSON.stringify(selectedAreas));
        localStorage.setItem('selectedAddresses', JSON.stringify(selectedAddresses));

        // const params = {};
        // if (selectedDistricts.length > 0) params.districts = selectedDistricts.join(',');
        // if (selectedAreas.length > 0) params.areas = selectedAreas.join(',');
        // if (selectedAddresses.length > 0) params.addresses = selectedAddresses.join(',');
        // const queryString = new URLSearchParams(params).toString();
        // window.location.href = `?${queryString}`;
      }


      // функция для запроса и получения json из ответа
      async function fetchJson(url, body_content, json_function) {
        fetch(url, {
          method: "POST",
          body: JSON.stringify(body_content),
          headers: { "content-Type": "application/json", },
        })
          .then(response => response.json())
          .then(json => {
            json_function(json);
          })
          .catch(err => {
            console.log(`error during fetch: `, err);
          });
      }


      // получение списка районов
      function loadDistricts() {
        fetchJson("/tables/districts", null, (json) => {
          const districts = json;
          console.log(`loadDistricts, districts = `, districts);
          populateFilter('districtOptions', districts, () => {});
          localStorage.setItem('districts', JSON.stringify(districts));
        });
      }

      document.querySelectorAll('.filter-title').forEach(title => {
        title.addEventListener('click', () => {
          const optionsDiv = title.nextElementSibling;
          optionsDiv.classList.toggle('show');
        });
      });


      async function fetchAreas(districts) {
        await fetchJson("tables/areas", districts, (json) => {
          let areas = json;
          console.log('fetchAreas, areas =', areas);
          populateFilter('areaOptions', areas, () => {});
        });
      };

      async function fetchHouseAddresses(areas) {        
        await fetchJson("/tables/house_addresses", areas, (json) => {
          let houseAddresses = json;
          console.log('fetchHouseAddresses, houseAddresses =', houseAddresses);
          populateFilter('houseAddressOptions', houseAddresses, () => {});
        });
      }

      async function fetchApartments(districts, areas, addresses) {
        const body_content = {districts, areas, addresses};
        await fetchJson("/tables/apartments", body_content, (json) => {
          const apartments = json;
          console.log(`fetchApartments, apartments =`, apartments);
        });
      }


      // функция срабатываемая при изменении чекбокса с округами districts
      async function districtFilterChangeHandler() {
        updateResults();
        const selectedDistricts = JSON.parse(localStorage.getItem('selectedDistricts'));
        const areas = await fetchAreas(selectedDistricts);
      }

      // функция, срабатывемая при изменении чекбокса с районами area
      async function areaFilterChangeHandler() {
        updateResults();
        const selectedAreas = JSON.parse(localStorage.getItem("selectedAreas"));
        const addresses = await fetchHouseAddresses(selectedAreas);
      }

      // функция, срабатываемая при изменении чекбокса с адресом houseAddress
      async function houseAddressFilterChangeHandler() {
        updateResults();
        const selectedHouseAddresses = JSON.parse(localStorage.getItem('selectedAddresses'));
        const apartments = fetchApartments(districts, areas, addresses);
        populateFilter
      }

      districtOptions.addEventListener('change', districtFilterChangeHandler);
      areaOptions.addEventListener('change', areaFilterChangeHandler);
      houseAddressOptions.addEventListener('change', houseAddressFilterChangeHandler);

      loadDistricts();

      // Загрузка результатов при загрузке страницы
      const urlParams = new URLSearchParams(window.location.search);
      const districts = urlParams.get('districts');
      const areas = urlParams.get('areas');
      const addresses = urlParams.get('addresses');

      if (districts || areas || addresses) {
        // Если есть параметры в URL, загружаем результаты
        fetchOptions('/tables/results', {
          districts: districts ? districts.split(',') : [],
          areas: areas ? areas.split(',') : [],
          addresses: addresses ? addresses.split(',') : []
        }).then(data => {
          if (data.length > 0) {
            resultsTableContainer.style.display = 'block';
            data.forEach(row => {
              const tr = document.createElement('tr');
              tr.innerHTML = `
                        <td>${row.apart_number}</td>
                        <td>${row.district}</td>
                        <td>${row.area}</td>
                        <td>${row.house_address}</td>
                        <!-- Остальные данные -->
                    `;
              tr.addEventListener('click', () => {
                showDetails(row.id);
              });
              resultsTable.appendChild(tr);
            });
          }
        });
      }


    });
  </script>
</body>

</html>