<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ... (CSS styles) ... -->
</head>

<body>
  <div id="main-content">
    <div id="filters">
      <h1>Apartment Listing</h1>

      <div class="filter-section" id="districtFilter">
        <div class="filter-title">Выберите округа:</div>
        <div class="filter-options" id="districtOptions"></div>
      </div>

      <div class="filter-section" id="areaFilter">
        <div class="filter-title">Выберите районы:</div>
        <div class="filter-options" id="areaOptions"></div>
      </div>

      <div class="filter-section" id="houseAddressFilter">
        <div class="filter-title">Выберите адреса:</div>
        <div class="filter-options" id="houseAddressOptions"></div>
      </div>
    </div>

    <div class="resizer"></div>

    <div id="resultsTableContainer">
      <h2>Результаты:</h2>

      <div class="table-scroll">
        <table id="resultsTable">

          <thead>
            <tr>
              <th style="width: 50px;">№</th>
              <th style="width: 150px;">Округ</th>
              <th style="width: 200px;">Район</th>
              <th>Адрес</th>
            </tr>
          </thead>

          <tbody>
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <div id="detailsPanel">
    <span id="closeDetailsPanel">×</span>
    <div id="detailsContent"></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', async () => {

      // функция для добавления чекбоксов в элемент с filterId
      function populateFilter(filterId, options, onChange) {
        function createCheckbox(label, value, onChange) {
          const container = document.createElement('div');
          const checkbox = document.createElement('input');
          checkbox.type = 'checkbox';
          checkbox.value = value;
          checkbox.addEventListener('change', onChange);

          const labelElement = document.createElement('label');
          labelElement.textContent = label;

          container.appendChild(checkbox);
          container.appendChild(labelElement);
          return container;
        }

        const filterDiv = document.getElementById(filterId);
        filterDiv.innerHTML = '';
        options.forEach(option => {
          const checkbox = createCheckbox(option, option, onChange);
          filterDiv.appendChild(checkbox);
        });
      }


      async function fetchApartment(apartmentId) {
        // console.log(`fetchApartment, apartmentId =`, apartmentId);
        detailsContent.innerHtml = '';
        detailsContent.classList.remove('show');
        const response = await fetch(`/tables/results/${apartmentId}`);
        if (!response.ok) {
          console.error(`error fetch apartments:`, response.status);
        }
        const apartment = await response.json();
        detailsContent.innerHTML = `
          <h2>Детали квартиры:</h2>
          <p>ID: ${apartment.new_apart_id}</p>
          <p>Ранг: ${apartment.rank}</p>
          <p>ID истории: ${apartment.history_id}</p>
          <p>Округ: ${apartment.district}</p>
          <p>Район: ${apartment.area}</p>
          <p>Адрес: ${apartment.house_address}</p>
        `;
        detailsPanel.classList.add('show')
      }


      function getLocalStorageSelectedValues() {
        let districts = JSON.parse(localStorage.getItem('selectedDistricts')) || [];
        let areas = JSON.parse(localStorage.getItem('selectedAreas')) || [];
        let addresses = JSON.parse(localStorage.getItem('selectedAddresses')) || [];
        return { districts, areas, addresses }
      }


      function getCheckboxes() {
        const selectedDistricts = Array.from(document.querySelectorAll('#districtOptions input:checked'))
          .map(checkbox => checkbox.value);
        const selectedAreas = Array.from(document.querySelectorAll('#areaOptions input:checked'))
          .map(checkbox => checkbox.value);
        const selectedAddresses = Array.from(document.querySelectorAll('#houseAddressOptions input:checked'))
          .map(checkbox => checkbox.value);
        return { districts: selectedDistricts, areas: selectedAreas, addresses: selectedAddresses };
      }


      function updateLocalSelectedDistricts() {
        const selectedDistricts = Array.from(document.querySelectorAll('#districtOptions input:checked'))
          .map(checkbox => checkbox.value);
        localStorage.setItem('selectedDistricts', JSON.stringify(selectedDistricts));
      }


      function updateLocalSelectedAreas() {
        const selectedAreas = Array.from(document.querySelectorAll('#areaOptions input:checked'))
          .map(checkbox => checkbox.value);
        localStorage.setItem('selectedAreas', JSON.stringify(selectedAreas));
      }


      function updateLocalSelectedAddresses() {
        const selectedAddresses = Array.from(document.querySelectorAll('#houseAddressOptions input:checked'))
          .map(checkbox => checkbox.value);
        localStorage.setItem('selectedAddresses', JSON.stringify(selectedAddresses));
      }


      async function postData(url, bodyContent) {
        const response = await fetch(url, {
          method: "POST",
          body: JSON.stringify(bodyContent),
          headers: { "Content-Type": "application/json", },
        });

        if (!response.ok) {
          console.error(`postData error: not ok: ${response.status}`,);
          return undefined;
        }

        const json = await response.json();
        return json;
      }


      function setSomeFilterCheckboxes(filterId, selectedOptions) {
        const queryFilter = `#${filterId} input[type="checkbox"]`;
        const checkboxes = document.querySelectorAll(queryFilter);
        checkboxes.forEach(element => {
          if (selectedOptions.includes(element.value)) {
            element.checked = true;
          }
        });
      }


      // получение списка районов
      async function loadDistricts() {
        const districts = await postData('/tables/districts', null);
        let { districts: selectedDistricts } = getLocalStorageSelectedValues();
        // console.log(`loadDistricts, districts = `, districts);
        // console.log(`loadDistricts selectedDistricts =`, selectedDistricts);
        populateFilter('districtOptions', districts, () => { });
        setSomeFilterCheckboxes("districtOptions", selectedDistricts);

        updateLocalSelectedDistricts();
        // если уже есть отмеченные районы, то идём дальше к ареа
        ({ districts: selectedDistricts } = getLocalStorageSelectedValues());
        if (selectedDistricts.length) {
          // console.log('we have selectedDistricts');
          districtsCheckboxHandler();
        }
      }


      async function fetchAreas(districts) {
        let areas = []
        if (districts.length) {
          areas = await postData("/tables/areas", districts);
        }
        const { areas: selectedAreas } = getLocalStorageSelectedValues();
        // console.log(`fetchAreas, areas =`, areas);
        // console.log(`fetchAreas, selectedAreas =`, selectedAreas);
        populateFilter('areaOptions', areas, null);
        setSomeFilterCheckboxes('areaOptions', selectedAreas);
      };


      async function fetchHouseAddresses(areas) {
        let addresses = [];
        if (areas.length) {
          addresses = await postData('/tables/house_addresses', areas);
        }
        const { addresses: localAddresses } = getLocalStorageSelectedValues();
        // console.log('fetchHouseAddresses, addresses =', addresses);
        // console.log('fetchHouseAddresses, LocalAddresses =', localAddresses);
        populateFilter('houseAddressOptions', addresses);
        setSomeFilterCheckboxes('houseAddressOptions', localAddresses);
      }


      async function fetchApartments(districts, areas, addresses) {
        function showApartments(apartments) {
          resultsTable.innerHTML = '';
          resultsTableContainer.style.display = 'block';
          apartments.forEach(apartment => {
            // console.log(apartment);
            const tr = document.createElement('tr');
            tr.innerHTML = `
                          <td>${apartment.apart_number}</td>
                          <td>${apartment.district}</td>
                          <td>${apartment.area}</td>
                          <td>${apartment.house_address}</td>
                      `;
            tr.addEventListener('click', () => {
              fetchApartment(apartment.new_apart_id);
            });
            resultsTable.appendChild(tr);
          });
        }

        let apartments = [];
        if (addresses.length && areas.length && districts.length) {
          const bodyContent = { districts, areas, addresses };
          apartments = await postData('/tables/apartments', bodyContent);
        }
        // console.log(`fetchApartments, apartments =`, apartments);
        showApartments(apartments);
      }


      // функция срабатываемая при изменении чекбокса с округами districts
      async function districtsCheckboxHandler() {
        // console.log('districtsCheckboxHandler');
        const { districts } = getCheckboxes();
        const areas = await fetchAreas(districts);
        updateLocalSelectedDistricts();

        const { areas: localAreas } = getLocalStorageSelectedValues();
        if (localAreas.length) {
          setSomeFilterCheckboxes('areaOptions', localAreas);
          updateLocalSelectedAreas();
          areaCheckboxHandler();
        }
      }


      // функция, срабатывемая при изменении чекбокса с районами area
      async function areaCheckboxHandler() {
        // console.log(`areaCheckboxHandler`)
        const { areas } = getCheckboxes();
        const addresses = await fetchHouseAddresses(areas);
        updateLocalSelectedAreas();

        const { addresses: localAddresses } = getLocalStorageSelectedValues();
        if (localAddresses.length) {
          setSomeFilterCheckboxes('houseAddressOptions', localAddresses);
          updateLocalSelectedAddresses();
          addressesCheckboxHandler();
        }
      }

      // функция, срабатываемая при изменении чекбокса с адресом houseAddress
      async function addressesCheckboxHandler() {
        const { districts, areas, addresses } = getCheckboxes();
        const apartments = await fetchApartments(districts, areas, addresses);
        updateLocalSelectedAddresses();
      }


      let isResizing = false;

      const districtOptions = document.getElementById('districtOptions');
      const areaOptions = document.getElementById('areaOptions');
      const houseAddressOptions = document.getElementById('houseAddressOptions');
      const resultsTableContainer = document.getElementById('resultsTableContainer');
      const resultsTable = document.getElementById('resultsTable').querySelector('tbody');
      const detailsPanel = document.getElementById('detailsPanel');
      const detailsContent = document.getElementById('detailsContent');
      const closeDetailsPanel = document.getElementById('closeDetailsPanel');
      const filters = document.getElementById('filters');
      const resizer = document.querySelector('.resizer');
      const mainContent = document.getElementById('main-content');


      resizer.addEventListener('mousedown', (e) => {
        isResizing = true;
      });

      document.addEventListener('mousemove', (e) => {
        if (isResizing) {
          const containerWidth = mainContent.offsetWidth;
          const mouseX = e.clientX - mainContent.getBoundingClientRect().left;

          const newFiltersWidth = (mouseX / containerWidth) * 100;
          filters.style.width = `${newFiltersWidth}%`;
        }
      });


      document.addEventListener('mouseup', () => {
        isResizing = false;
      });


      document.querySelectorAll('.filter-title').forEach(title => {
        title.addEventListener('click', () => {
          const optionsDiv = title.nextElementSibling;
          optionsDiv.classList.toggle('show');
        });
      });


      closeDetailsPanel.addEventListener('click', () => {
        detailsPanel.classList.remove('show');
      });

      districtOptions.addEventListener('change', districtsCheckboxHandler);
      areaOptions.addEventListener('change', areaCheckboxHandler);
      houseAddressOptions.addEventListener('change', addressesCheckboxHandler);


      // Загрузка результатов при загрузке страницы
      const urlParams = new URLSearchParams(window.location.search);
      const districts = urlParams.get('districts') || [];
      const areas = urlParams.get('areas') || [];
      const addresses = urlParams.get('addresses') || [];

      if (districts.length) localStorage.setItem('selectedDistricts', JSON.stringify(districts));
      if (areas.length) localStorage.setItem('selectedAreas', JSON.stringify(areas));
      if (addresses.length) localStorage.setItem('selectedAddresses', JSON.stringify(addresses));

      await loadDistricts();

    });
  </script>
</body>

</html>